environment {
    CLUTTER_BACKEND "wayland"
    GDK_BACKEND "wayland,x11"
    MOZ_ENABLE_WAYLAND "1"
    QT_QPA_PLATFORM "wayland"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "niri"
}
// spawn-at-startup "uwsm" "finalize"
spawn-at-startup "waypaper" "--restore"
spawn-at-startup "blueman-applet"
// output "eDP-1" {
//     scale 1.1
//     mode "1920x1200"
//     position x=0 y=0
// }
// output "HDMI-A-1" {
//     mode "1920x1080@239.998"
//     position x=-1920 y=0
// }
input {
    keyboard {
        xkb {
            layout "us"
        }
    }
    touchpad {
        tap
        accel-profile "flat"
    }
    mouse {
        accel-profile "flat"
    }
}
screenshot-path "~/Pictures/Screenshots/Screenshot-from-%Y-%m-%d-%H-%M-%S.png"
gestures {
    hot-corners {
        off
    }
}
overview {
    workspace-shadow {
        off
    }
    backdrop-color "#191b1d"
    zoom 0.3
}
layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}
layer-rule {
    match namespace="^waybar$"
    background-effect {
        blur true
    }
}
layout {
    focus-ring {
        off
    }
    background-color "transparent"
    border {
        width 1
        active-color "#b4b7b4"
        inactive-color "#373b41"
    }
    shadow {
        on
    }
    preset-column-widths {
        proportion 0.7
        proportion 0.5
        proportion 0.3
        proportion 1.0
    }
    default-column-width {
        proportion 1.0
    }
    always-center-single-column
    gaps 8
}
prefer-no-csd
hotkey-overlay {
    skip-at-startup
}
window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
    draw-border-with-background false
}
window-rule {
    match is-floating=true
    shadow {
        on
    }
}
window-rule {
    match title="^Picture-in-Picture$"
    match title="^Volume Control$"
    match title="^Bluetooth Devices$"
    open-floating true
    default-floating-position x=32 y=32 relative-to="bottom-right"
    default-column-width {
        fixed 960
    }
    default-window-height {
        fixed 840
    }
}
binds {
    Mod+Slash {
        show-hotkey-overlay
    }
    Print {
        screenshot
    }
    Shift+Print {
        screenshot-window
    }
    Mod+Return {
        spawn "ghostty"
    }
    Mod+F {
        spawn "fuzzel"
    }
    Mod+M {
        spawn "fuzzel-power-menu"
    }
    Mod+R {
        spawn "sh" "-c" "swaync-client -t"
    }
    Mod+V {
        spawn "sh" "-c" "cliphist list | fuzzel --dmenu --prompt='clipboard: ' | cliphist decode | wl-copy"
    }
    Mod+B {
        spawn "sh" "-c" "notify-send -u low \"System Status\" \"$(acpi -b)\n$(free -h | awk '/^Mem:/ {print $3 \"/\" $2}')\n$(date +'%H:%M on %B %d')\""
    }
    Mod+O {
        spawn "thunar"
    }
    Mod+Shift+B {
        spawn "sh" "-c" "systemctl --user is-active --quiet waybar && systemctl --user stop waybar || systemctl --user start waybar"
    }
    Mod+I {
        spawn "hyprpicker" "-an"
    }
    Mod+W {
        switch-preset-column-width
    }
    Mod+Shift+W {
        maximize-column
    }
    Mod+Alt+W {
        expand-column-to-available-width
    }
    Mod+C {
        center-visible-columns
    }
    Mod+S {
        reset-window-height
    }
    Mod+Q {
        close-window
    }
    Mod+Space {
        toggle-overview
    }
    Mod+Z {
        toggle-window-floating
    }
    Mod+Comma {
        consume-window-into-column
    }
    Mod+Period {
        expel-window-from-column
    }
    Mod+H {
        focus-column-left
    }
    Mod+L {
        focus-column-right
    }
    Mod+J {
        focus-window-or-workspace-down
    }
    Mod+K {
        focus-window-or-workspace-up
    }
    Mod+Shift+H {
        move-column-left
    }
    Mod+Shift+L {
        move-column-right
    }
    Mod+Shift+K {
        move-column-to-workspace-up
    }
    Mod+Shift+J {
        move-column-to-workspace-down
    }
    Mod+1 {
        focus-workspace 1
    }
    Mod+2 {
        focus-workspace 2
    }
    Mod+3 {
        focus-workspace 3
    }
    Mod+4 {
        focus-workspace 4
    }
    Mod+5 {
        focus-workspace 5
    }
    Mod+6 {
        focus-workspace 6
    }
    Mod+7 {
        focus-workspace 7
    }
    Mod+8 {
        focus-workspace 8
    }
    Mod+9 {
        focus-workspace 9
    }
    Mod+0 {
        focus-workspace 10
    }
    Mod+Shift+1 {
        move-column-to-workspace 1
    }
    Mod+Shift+2 {
        move-column-to-workspace 2
    }
    Mod+Shift+3 {
        move-column-to-workspace 3
    }
    Mod+Shift+4 {
        move-column-to-workspace 4
    }
    Mod+Shift+5 {
        move-column-to-workspace 5
    }
    Mod+Shift+6 {
        move-column-to-workspace 6
    }
    Mod+Shift+7 {
        move-column-to-workspace 7
    }
    Mod+Shift+8 {
        move-column-to-workspace 8
    }
    Mod+Shift+9 {
        move-column-to-workspace 9
    }
    Mod+Shift+0 {
        move-column-to-workspace 10
    }
    Mod+Left {
        focus-monitor-left
    }
    Mod+Right {
        focus-monitor-right
    }
    Mod+Shift+Left {
        move-column-to-monitor-left
    }
    Mod+Shift+Right {
        move-column-to-monitor-right
    }
    XF86AudioPlay allow-when-locked=true {
        spawn "playerctl" "play-pause"
    }
    XF86AudioStop allow-when-locked=true {
        spawn "playerctl" "stop"
    }
    XF86AudioNext allow-when-locked=true {
        spawn "playerctl" "next"
    }
    XF86AudioPrev allow-when-locked=true {
        spawn "playerctl" "previous"
    }
    XF86AudioMute allow-when-locked=true {
        spawn "pamixer" "-t"
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn "pamixer" "--default-source" "-t"
    }
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "pamixer" "-i" "10"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "pamixer" "-d" "10"
    }
    XF86MonBrightnessUp allow-when-locked=true {
        spawn "brightnessctl" "set" "+10%"
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn "brightnessctl" "set" "10%-"
    }
}

